.left
  .color-list
    .color-item
      .color-circle(style="background-color: #333")
      .color-name Black
    .color-item.active
      .color-circle(style="background-color: #eee6d9")
      .color-name Chalk
    .color-item
    .color-item
    .color-item
    .color-item
    .color-item
    .color-item
    .color-item
    .color-item
    .color-item
    .color-item
    .color-item
    .color-item
    .color-item
    .color-item
.center
  .bag-info
    .heading My DINKY BAG
    .tagline TEW ROSE
  .bag-review
.right
  .step-list
    .step-heading Your Selection
    .step-item.active
      .step-icon
      .step-info
        .info-title 2. Styling Options
        .info-description Use the color palette on the left to select the color of your bag
    .step-item
      .step-icon
      .step-info
        .info-title 3. Tea Rose
        .info-description Use the color palette on the left to select the color of your bag
    .step-item
      .step-icon
      .step-info
        .info-title 1. Bag Color
        .info-description Use the color palette on the left to select the color of your bag
  .action
    .about-tearose About the Tea Rose
    .save-config Save and Send
    .back-to-home Back to bag selection