@import "../../style/scss/color";
@import "../../style/scss/mixin";

manage {
  @include clearfix;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .left {
    width: 218px;
    height: 100%;
    float: left;

    .color-list {
      width: 100%;
      height: 100%;
      padding: 12px 0 0 12px;

      .color-item {
        width: 94px;
        height: (($MAX_HEIGHT - 12 * 2) - 7 * 6 ) / 8;
        background: $color-e;
        float: left;
        margin-right: 6px;
        margin-bottom: 6px;
        position: relative;

        &.active {
          .color-circle {
            border-color: #302d2b;
          }
        }

        .color-circle {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          border: 3px solid $color-white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin-top: -8px;
        }

        .color-name {
          position: absolute;
          width: 100%;
          height: 28px;
          line-height: 28px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-size: 11px;
          left: 0;
          bottom: 0;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }

  .center {
    width: 585px;
    height: 100%;
    float: left;

    .bag-info {
      width: 100%;
      padding-top: 15px;

      .heading {
        color: $color-black;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 28px;
        position: relative;
        text-transform: uppercase;

        &:after {
          background: $color-4;
          width: 44px;
          height: 2px;
          display: block;
          content: "";
          bottom: 0;
          left: 50%;
          margin-left: -22px;
          position: absolute
        }
      }
      .tagline {
        width: 100%;
        height: 44px;
        line-height: 44px;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
      }
    }

    .bag-review {

    }
  }

  .right {
    width: 220px;
    height: 100%;
    background: $color-e;
    float: right;
    position: relative;

    .step-list {
      padding-top: 22px;

      .step-heading {
        height: 60px;
        line-height: 60px;
        text-transform: uppercase;
        padding-left: 18px;
        font-size: 16px;
      }

      .step-item {
        padding: 20px 15px;
        position: relative;

        &:after {
          @include calc('width', '100% - 40px');
          height: 1px;
          background: $color-white;
          display: block;
          content: "";
          position: absolute;
          left: 20px;
          bottom: 0;
        }

        &.active {
          background: $color-white;

          .step-info {
              .info-title {
              color: $color-black;
            }

            .info-description {
              display: block;
            }
          }
        }

        .step-icon {
          background: $color-d;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          position: absolute;
          top: 20px;
          left: 15px;
        }

        .step-info {
          padding-left: 40px;

          .info-title {
            height: 30px;
            line-height: 30px;
            font-size: 15px;
            color: $color-6;
            margin-bottom: 5px;
          }

          .info-description  {
            color: $color-6;
            font-size: 14px;
            line-height: 20px;
            display: none;
          }
        }
      }
    }

    .action {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 20px 15px;

      .about-tearose {
        height: 44px;
        line-height: 44px;
        font-size: 14px;
        white-space: nowrap;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
      }

      .save-config {
        transition: 0.5s all ease 0s;
        height: 40px;
        line-height: 40px;
        color: $color-white;
        background: $color-black;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          opacity: 0.75;
        }
      }

      .back-to-home {
        height: 44px;
        line-height: 44px;
        font-size: 14px;
        white-space: nowrap;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}