@import "../../style/scss/color";
@import "../../style/scss/mixin";

home {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 125px;
  background-image: url('../../style/image/bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;

  @keyframes          animation-show-heading { 0% {opacity: 0; transform: scale(2)} 100% {opacity: 1; transform: scale(1)} }
  @-ms-keyframes      animation-show-heading { 0% {opacity: 0; transform: scale(2)} 100% {opacity: 1; transform: scale(1)} }
  @-o-keyframes       animation-show-heading { 0% {opacity: 0; transform: scale(2)} 100% {opacity: 1; transform: scale(1)} }
  @-webkit-keyframes  animation-show-heading { 0% {opacity: 0; transform: scale(2)} 100% {opacity: 1; transform: scale(1)} }
  @-moz-keyframes     animation-show-heading { 0% {opacity: 0; transform: scale(2)} 100% {opacity: 1; transform: scale(1)} }

  .header-content {
    width: 100%;
    position: absolute;
    top: 25px;
    left: 0;

    animation                : animation-show-heading 0.4s linear both;
    -o-animation             : animation-show-heading 0.4s linear both;
    -ms-animation            : animation-show-heading 0.4s linear both;
    -webkit-animation        : animation-show-heading 0.4s linear both;
    -moz-animation           : animation-show-heading 0.4s linear both;

    .heading {
      color: $color-black;
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 28px;
      position: relative;
      margin-bottom: 15px;

      &:after {
        background: $color-4;
        width: 44px;
        height: 2px;
        display: block;
        content: "";
        bottom: 0;
        left: 50%;
        margin-left: -22px;
        position: absolute
      }
    }

    .logo {
      display: block;
      margin: 0 auto;
      width: 140px;
      height: 16px;
      background-image: url('../../style/image/logo.png');
      background-size: contain;
      background-position: center;
    }
  }

  .image-rotate-component {
    position: relative;
    width: 100%;
    height: 400px;
    z-index: 1000;

    @keyframes          animation-show-image { 0% {opacity: 0; transform: scale(.4)} 100% {opacity: 1; transform: scale(1)} }
    @-ms-keyframes      animation-show-image { 0% {opacity: 0; transform: scale(.4)} 100% {opacity: 1; transform: scale(1)} }
    @-o-keyframes       animation-show-image { 0% {opacity: 0; transform: scale(.4)} 100% {opacity: 1; transform: scale(1)} }
    @-webkit-keyframes  animation-show-image { 0% {opacity: 0; transform: scale(.4)} 100% {opacity: 1; transform: scale(1)} }
    @-moz-keyframes     animation-show-image { 0% {opacity: 0; transform: scale(.4)} 100% {opacity: 1; transform: scale(1)} }

    .image-list {
      width: 720px;
      height: 400px;
      margin:  0 auto;
      position: relative;

      animation                : animation-show-image 0.4s linear both;
      -o-animation             : animation-show-image 0.4s linear both;
      -ms-animation            : animation-show-image 0.4s linear both;
      -webkit-animation        : animation-show-image 0.4s linear both;
      -moz-animation           : animation-show-image 0.4s linear both;
      animation-delay         : 0.4s;
      -o-animation-delay      : 0.4s;
      -ms-animation-delay     : 0.4s;
      -webkit-animation-delay : 0.4s;
      -moz-animation-delay    : 0.4s;

      .image-item {
        transition: 0.5s all ease 0s;
        position: absolute;
        background-size: contain;

        &[data-item="1"] {
          top: 70px;
          left: 0;
          z-index: 10;
          width: 260px;
          height: 260px;
          opacity: 0.75;
        }

        &[data-item="2"] {
          left: 80px;
          top: 35px;
          z-index: 50;
          width: 330px;
          height: 330px;
          opacity: 0.85;
        }

        &[data-item="3"] {
          top: 0;
          left: 160px;
          z-index: 100;
          width: 400px;
          height: 400px;
        }

        &[data-item="4"] {
          left: 310px;
          top: 35px;
          z-index: 50;
          width: 330px;
          height: 330px;
          opacity: 0.85;
        }

        &[data-item="5"] {
          top: 70px;
          left: 460px;
          z-index: 10;
          width: 260px;
          height: 260px;
          opacity: 0.75;
        }

        &.hide {
          opacity: 0;
        }

        &.focus {
          transform: scale(2);
          opacity: -39.25;
        }
      }
    }

    .image-nav {
      > * {
        width: 100px;
        height: 100px;
        background-image: url('../../style/image/arrow.png');
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        cursor: pointer;
        transition: 0.4s all ease 0s;
        opacity: 1;
      }

      @keyframes          animation-show-navileft { 0% {opacity: 0; left: -60px; transform: scale(2)} 100% {opacity: 1; left: 40px; transform: scale(1)} }
      @-ms-keyframes      animation-show-navileft { 0% {opacity: 0; left: -60px; transform: scale(2)} 100% {opacity: 1; left: 40px; transform: scale(1)} }
      @-o-keyframes       animation-show-navileft { 0% {opacity: 0; left: -60px; transform: scale(2)} 100% {opacity: 1; left: 40px; transform: scale(1)} }
      @-webkit-keyframes  animation-show-navileft { 0% {opacity: 0; left: -60px; transform: scale(2)} 100% {opacity: 1; left: 40px; transform: scale(1)} }
      @-moz-keyframes     animation-show-navileft { 0% {opacity: 0; left: -60px; transform: scale(2)} 100% {opacity: 1; left: 40px; transform: scale(1)} }

      .nav-left {
        left: 40px;
        animation               : animation-show-navileft 0.5s linear;
        -o-animation            : animation-show-navileft 0.5s linear;
        -ms-animation           : animation-show-navileft 0.5s linear;
        -webkit-animation       : animation-show-navileft 0.5s linear;
        -moz-animation          : animation-show-navileft 0.5s linear;

        &:hover {
          margin-left: -5px;
          opacity: 0.7;
        }
      }

      @keyframes          animation-show-naviright { 0% {opacity: 0; right: -60px; transform: scale(2) rotate(180deg)} 100% {opacity: 1; right: 40px; transform: scale(1) rotate(180deg)} }
      @-ms-keyframes      animation-show-naviright { 0% {opacity: 0; right: -60px; transform: scale(2) rotate(180deg)} 100% {opacity: 1; right: 40px; transform: scale(1) rotate(180deg)} }
      @-o-keyframes       animation-show-naviright { 0% {opacity: 0; right: -60px; transform: scale(2) rotate(180deg)} 100% {opacity: 1; right: 40px; transform: scale(1) rotate(180deg)} }
      @-webkit-keyframes  animation-show-naviright { 0% {opacity: 0; right: -60px; transform: scale(2) rotate(180deg)} 100% {opacity: 1; right: 40px; transform: scale(1) rotate(180deg)} }
      @-moz-keyframes     animation-show-naviright { 0% {opacity: 0; right: -60px; transform: scale(2) rotate(180deg)} 100% {opacity: 1; right: 40px; transform: scale(1) rotate(180deg)} }

      .nav-right {
        right: 40px;
        transform: rotate(180deg);

        animation               : animation-show-naviright 0.5s linear;
        -o-animation            : animation-show-naviright 0.5s linear;
        -ms-animation           : animation-show-naviright 0.5s linear;
        -webkit-animation       : animation-show-naviright 0.5s linear;
        -moz-animation          : animation-show-naviright 0.5s linear;

        &:hover {
          right: 35px;
          opacity: 0.7;
        }
      }
    }
  }

  @keyframes          animation-show-footer { 0% {opacity: 0; bottom: -30px} 100% {opacity: 1; bottom: 50px;} }
  @-ms-keyframes      animation-show-footer { 0% {opacity: 0; bottom: -30px} 100% {opacity: 1; bottom: 50px;} }
  @-o-keyframes       animation-show-footer { 0% {opacity: 0; bottom: -30px} 100% {opacity: 1; bottom: 50px;} }
  @-webkit-keyframes  animation-show-footer { 0% {opacity: 0; bottom: -30px} 100% {opacity: 1; bottom: 50px;} }
  @-moz-keyframes     animation-show-footer { 0% {opacity: 0; bottom: -30px} 100% {opacity: 1; bottom: 50px;} }

  .footer-content {
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0;
    text-align: center;

    animation               : animation-show-footer 0.4s linear both;
    -o-animation            : animation-show-footer 0.4s linear both;
    -ms-animation           : animation-show-footer 0.4s linear both;
    -webkit-animation       : animation-show-footer 0.4s linear both;
    -moz-animation          : animation-show-footer 0.4s linear both;
    animation-delay         : 0.8s;
    -o-animation-delay      : 0.8s;
    -ms-animation-delay     : 0.8s;
    -webkit-animation-delay : 0.8s;
    -moz-animation-delay    : 0.8s;

    .description {
      width: 100%;
      height: 70px;
      line-height: 70px;
      font-size: 22px;
      color: $color-black;
      text-align: center;
    }

    .button {
      display: inline-block;
      margin: 0 auto;
      height: 40px;
      line-height: 40px;
      list-style: 40px;
      font-size: 14px;
      color: $color-white;
      background: $color-black;
      cursor: pointer;
      padding: 0 30px;
      transition: 0.4s all ease 0s;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}