.header-content
  .heading CREATE YOUR OWN TEA ROSE DESIGN
  .logo
.image-rotate-component
  .image-list
    .image-item(ng-repeat="bag in bagList track by $index", data-item="{{bag.item}}", ng-click="rotateImage(bag)", ng-class="{'focus': 1 === bag.focus, 'hide': 2 === bag.focus}", style="background-image: url({{bag.image}})")
  .image-nav
    .nav-left(ng-click="slideImage('left')")
    .nav-right(ng-click="slideImage('right')")
.footer-content
  .description CHOOSE YOUR BAG SILHOUETTE
  .button(ng-click="naviagteManage()") SELECT THE DINKY BAG
