doctype html
html(lang="en", ng-app="webApp")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(charset="utf-8")
    base(href = "/")
    link(rel="stylesheet", href="./style/css/vendor.min.css")
    link(rel="stylesheet", href="./style/css/style.min.css")
  body
    app
    list-script
      script(src="./style/js/vendor.min.js")
      script(src="./style/js/script.min.js")